SECRET_KEY="django-insecure-+2se)=p+^$&9391h%uxskm%q)uq$9j1py!9k4)*!^gh$9i*pkc"
DEBUG=True
LOG_LEVEL=DEBUG

ALLOWED_HOSTS=*
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8000

DATABASE_HOST=database
DATABASE_PORT=5432
DATABASE_NAME=chat_app
DATABASE_USER=fastzap
DATABASE_PASSWORD=secret-password
DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST:-localhost}:${DATABASE_PORT:-5432}/${DATABASE_NAME}

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://${REDIS_HOST:-localhost}:${REDIS_PORT:-6379}/0

CELERY_BROKER_URL=${REDIS_URL}

# A API Key do OpenRouter foi definida aqui apenas para simplificar a execução, mas é uma péssima prática
OPENROUTER_API_KEY=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
